<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bachelor student registration</title>
</head>
<body>

<p>

    <input type="text" id="name" placeholder="Your name">
    <input type="text" id="surname" placeholder="Your surname">
    <input type="text" id="citizenship" placeholder="Citizenship">
    <input type="text" id="faculty" placeholder="Faculty create a dropdown">
    <input type="text" id="program" placeholder="Program create a dropdown">
    <input type="text" id="sex" placeholder="Your sex">
    <input type="email" id="email" placeholder="Email">
    <input type="text" id="graduatedSchool" placeholder="Graduated school">


    <!-- Button to send data -->
    <button onclick="registerBachelor()">Send JSON</button>

</p>

<script>

    function registerBachelor(){

        let name = document.querySelector('#name');
        let surname = document.querySelector('#surname');
        let citizenship = document.querySelector('#citizenship');
        let faculty = document.querySelector('#faculty');
        let program = document.querySelector('#program');
        let sex = document.querySelector('#sex');
        let email = document.querySelector('#email');
        let graduatedSchool = document.querySelector('#graduatedSchool');

        let xhr = new XMLHttpRequest();
        let url = "/register/bachelor";

        xhr.open("POST", url, true);

        // Set the request header i.e. which type of content you are sending
        xhr.setRequestHeader("Content-Type", "application/json");


        // Sending data with the request
        xhr.send(JSON.stringify({ "name": name.value,
            "surname": surname.value,
            "citizenship": citizenship.value,
            "faculty": faculty.value,
            "program": program.value,
            "sex": sex.value,
            "email": email.value,
            "graduatedSchool": graduatedSchool.value}));

    }

</script>

</body>
</html>